services:
  frontend:
    build: ../frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - gateway
    environment:
      - API_BASE=http://localhost:3000
    networks:
      - backendserver

  gateway:
    build: ./gateway
    container_name: gateway
    environment:
        PORT: 3000
        USERS_SERVICE_URL: http://users:4001
        FILES_SERVICE_URL: http://files:4002
    ports:
      - "3000:3000"
    
    depends_on:
      - users
      - files
    networks:
      - backendserver

  users:
    build: ./users
    container_name: users
    environment:
        PORT: 4001
        MONGO_URI: ${MONGO_URI}
        JWT_SECRET: ${JWT_SECRET}
    ports:
      - "4001:4001"
    
    env_file:
      - .env
    networks:
      - backendserver

  files:
    build: ./files
    container_name: files
    environment:
        PORT: 4002
        MONGO_URI: ${MONGO_URI}
        JWT_SECRET: ${JWT_SECRET}
    ports:
      - "4002:4002"
    volumes:
      - ./files/uploads:/app/uploads
    env_file:
      - .env
    networks:
      - backendserver

networks:
  backendserver:
    driver: bridge